.footer
{
    display: flex;
    flex-direction: column;

    padding: 4rem 4rem;
    background: var(--color-background-tertiary);

    *
    {
        font-size: 1rem;
    }

    &Wave
    {
        margin-bottom: -2rem;
        fill: var(--color-background-tertiary);
    }

    &Menu
    {
        display: flex;
        align-items: center;

        gap: 3rem;
        width: 100%;
        margin: auto;

        @media only screen and (max-width: 750px)
        {
            flex-wrap: wrap;
            justify-content: center;
        }

        &Item
        {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            cursor: pointer;

            & > a
            {
                font-size: 1.5rem;
                transition: all .2s;

                &:hover
                {
                    color: var(--color-background-primary);
                }
            }
        }
    }

    &Main
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        margin: auto;
        max-width: 140rem;

        @media only screen and (max-width: 750px)
        {
            align-items: center;
            flex-direction: column;
            gap: 2rem;
        }

        &Copyright
        {
            font-family: SansSerif, sans-serif;
            white-space: nowrap;
            word-wrap: anywhere;
            font-size: 1.5rem;
            text-align: left;
            direction: ltr;
        }
    }
}
