@font-face
{
    font-family: 'YekanBakh';
    src: local('YekanBakh'), local('YekanBakh'),
    url('../public/static/fonts/yekanBakhFa/YekanBakhFa.eot'),
    url('../public/static/fonts/yekanBakhFa/YekanBakhFa.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face
{
    font-family: 'YekanBakhRegular';
    src: local('YekanBakhRegular'), local('YekanBakhRegular'),
    url('../public/static/fonts/yekanBakhFa/YekanBakhFaRegular.eot'),
    url('../public/static/fonts/yekanBakhFa/YekanBakhFaRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face
{
    font-family: 'YekanBakhHeavy';
    src: local('YekanBakhHeavy'), local('YekanBakhHeavy'),
    url('../public/static/fonts/yekanBakhFa/YekanBakhFaHeavy.eot'),
    url('../public/static/fonts/yekanBakhFa/YekanBakhFaHeavy.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

:root
{
    --color-background-primary: #f7f6fa;
    --color-background-secondary: #d3cfe7;
    --color-background-tertiary: #9993c7;
    --color-primary: #423d91;
    --color-secondary: #7874d7;
    --color-tertiary: #2d2b6d;
    --color-font-primary: #2d2d43;
    --color-font-secondary: #5f5f8d;
    --color-font-tertiary: #7c7cab;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    direction: rtl;
    text-align: right;
    color: var(--color-font-primary);
    font-family: 'YekanBakh', sans-serif;
}

html
{
    direction: rtl;
    font-size: 62.5%;
}

body
{
    box-sizing: border-box;
    font-family: 'YekanBakh', sans-serif;
}

a
{
    text-decoration: none;
    color: var(--color-blue-dark);
}

strong
{
    font-family: 'YekanBakhHeavy', sans-serif;
}

p
{
    color: var(--color-blue-dark);
}

li
{
    list-style: none;
}

.inner-header
{
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves
{
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
}

.parallax > use
{
    animation: moveForever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1)
{
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2)
{
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3)
{
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4)
{
    animation-delay: -5s;
    animation-duration: 20s;
}

#__next
{
    color: var(--color-font-primary);
    overflow: hidden;
}

.container
{
    max-width: 140rem;
    margin: 0 auto;

    @media only screen and (max-width: 140rem)
    {
        padding: 0 1.5rem;
    }
}

@keyframes moveForever
{
    0%
    {
        transform: translate3d(-90px,0,0);
    }
    100%
    {
        transform: translate3d(85px,0,0);
    }
}

@media (max-width: 768px)
{
    .waves
    {
        height:40px;
        min-height:40px;
    }
    .content
    {
        height:30vh;
    }
}
