.poem
{
    &Card
    {
        border-radius: 1rem;
        background-color: var(--color-background-primary);
        padding: 2rem;

        &Header
        {
            font-size: 2rem;
            color: var(--color-background-tertiary);
        }

        &Paragraphs
        {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1rem;
            grid-row-gap: 1.5rem;

            margin-top: 3rem;

            & p
            {
                font-size: 1.75rem;
            }
        }

        & a
        {
            transition: all .2s;
            color: var(--color-primary);
            margin-right: .5rem;

            &:hover
            {
                color: var(--color-secondary);
            }
        }
    }
}
