.poem
{
    &Card
    {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        height: 30rem;
        max-height: 30rem;
        max-width: 100%;
        border-radius: 1rem;
        background-color: var(--color-background-primary);
        padding: 2rem;
        transition: all .2s;

        &:hover
        {
            background-color: var(--color-background-secondary);

            & a:hover
            {
                color: var(--color-secondary);
            }
        }

        &Header
        {
            font-size: 2rem;
            color: var(--color-background-tertiary);
        }

        &Paragraphs
        {
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: repeat(1, 1fr);

            margin-top: 3rem;

            & p
            {
                font-size: 1.75rem;

                &:nth-child(3),
                &:nth-child(5)
                {
                    margin-top: .75rem;
                }
            }
        }

        & a
        {
            transition: all .2s;
            color: var(--color-primary);
            margin-right: .5rem;

            &:hover
            {
                color: var(--color-secondary);
            }
        }
    }
}
