@font-face
{
    font-family: 'YekanBakh';
    src: local('YekanBakh'), local('YekanBakh'),
    url('../../../public/static/fonts/yekanBakhFa/YekanBakhFa.eot'),
    url('../../../public/static/fonts/yekanBakhFa/YekanBakhFa.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face
{
    font-family: 'YekanBakhRegular';
    src: local('YekanBakhRegular'), local('YekanBakhRegular'),
    url('../../../public/static/fonts/yekanBakhFa/YekanBakhFaRegular.eot'),
    url('../../../public/static/fonts/yekanBakhFa/YekanBakhFaRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face
{
    font-family: 'YekanBakhHeavy';
    src: local('YekanBakhHeavy'), local('YekanBakhHeavy'),
    url('../../../public/static/fonts/yekanBakhFa/YekanBakhFaHeavy.eot'),
    url('../../../public/static/fonts/yekanBakhFa/YekanBakhFaHeavy.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
